:root {
    --Standartcolor1: #000314;
    --StandartTextcolor1: #ffffff;
}

/*main formatting*/
canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    color: var(--StandartTextcolor1);
}

img {
    object-fit: cover;
    max-height: 200px;
    padding-right: 40px;
    flex-basis: 30%
}

button {
    border-radius: 5px;
    border: 1px solid white;
    height: 60px;
    width: 60px;
    margin: 10px;
    background: var(--Standartcolor1);
}

svg {
    color: var(--StandartTextcolor1);
    height: max-content;
    width: max-content;
}

/*container classes*/
.contentBox-left, .contentBox-right {
    display: flex;
    padding: 1rem;
    background: var(--Standartcolor1);
    height: fit-content;
    border-radius: 20px;
    position: fixed;
    width: 60%;
    max-height: 200px;
    align-items: center;
    transition: opacity 1s ease;
}

.contentBox-left {
    left: 100px;
}

.contentBox-right {
    bottom: 2%;
    right: 2%;
}

.item {
    align-self: flex-start;
    padding: 10px;
    max-height: 190px;
    overflow: scroll;
}

.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: var(--Standartcolor1);
    color: var(--StandartTextcolor1);
    display: grid;
    grid-template-rows: repeat(12, 1fr);

}

/*IDs*/
#Sun, #Mercury, #Venus, #Earth, #Moon, #Mars, #Jupiter, #Saturn, #Neptun, #Uranus {
    opacity: 100;
}

/*placehodler*/
.placeholder-item-left, .placeholder-item-right {
    height: 50vh;
}

#placeholder-temp {
    height: 12000px;
}

/* small classes*/

